<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TO DO</title>
    <script src="vendors/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div id="header"><h1>MY TO DO LIST</h1></div>
    <div id="addItemDiv">
      <button id="addItem">Add Item</button>
        <div id="formDiv">
          <label for="item">Item</label>
          <input id="item">
          <label for="dueDate">Due Date</label>
          <input type="date" id="dueDate">
          <label for="des">Description</label>
          <textarea id="des"></textarea>
          <button id="submitItem">Submit</button>
        </div>
    </div>
    
    <div class="borderDiv">
      <h2>TO DO</h2>
    </div>
    <div id="toDoSquares">
    </div>
    <div class="borderDiv">
      <h2>COMPLETE</h2>
    </div>
    <div id="completeSquares"></div>
  </body>
</html>
