input, label {
    display:block;
}
#submitItem{
  display: block;
}
#addItemDiv{
  height: 160px;
}
#compBtn{
  float: right;
}
#buttonX{
  float: right;
}
p{
  margin-left: 4px;
}
.borderDiv{
  border-top: 2px solid black;
  margin-top: 20px;
}
.toDoItem{
  width: 200px;
  height: 200px;
  overflow: auto;
  display: inline-block;
  border: 2px solid black;
  margin: 4px;
}
