input, label {
    display:block;
}
#submitItem{
  display:block;
  background-color: black;
}
#addItemDiv{
  height: 160px;

}
#compBtn{
  float: right;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
#buttonX{
float: right;
border-radius: 50%;
height: 50px;
width: 50px;
}
#header{
  text-align: center;
}
body {
  font-family: 'Courier';
  background-color: #BFD7EA;
}
p {
  margin-left: 4px;
}
button{
  display: none;
  width: 100px;
  padding: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Courier';
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
#addItem{
  display:block;
  background-color: black;
}
button:hover,
button:active {
  background-color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease-in,
                border-color 0.3s ease-in;
}
.toDoItem:hover #buttonX {
  display: inline-block;
}
.toDoItem:hover #compBtn {
  display: inline-block;
}
.borderDiv{
  border-top: 2px solid black;
  margin-top: 20px;
  text-align: center;
}
.toDoItem{
  border-radius: 25px;
  width: 220px;
  height: 220px;
  overflow: auto;
  display: inline-block;
  border: 2px solid white;
  margin: 4px;
  color: white;
  font-family: 'Courier';
  font-size: 22px;
}
